@model List<Birthday>
@{
    ViewData["Title"] = "Birthdays list";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/birthday.css" />
}

<h2>Birthdays DB</h2>

<table class="birthday-list">
<head>
<tr>
        <th><a asp-action="Index" asp-route-sortField="id">Id</a></th>
        <th><a asp-action="Index" asp-route-sortField="name">Name</a></th>
        <th><a asp-action="Index" asp-route-sortField="date">Birthday</a></th>
    <th>Image</th>
    <th>Action</th>
</tr>
</head>

<tbody>

@foreach (var birthday in Model)
{
    <tr>
        <td>@birthday.Id</td>
        <td>@birthday.Name</td>
        <td>@birthday.BirthdayDate.ToShortDateString()</td>
        <td><img src="/images/@birthday.Image" alt="@birthday.Name" /></td>
        <td>
            <a class="btn btn-primary btn-sm" asp-controller="Birthday" asp-action="Update" asp-route-id="@birthday.Id">Edit</a>
            <a class="btn btn-danger btn-sm" asp-controller="Birthday" asp-action="Delete" asp-route-id="@birthday.Id">Delete</a>
        </td>
    </tr>
}
</tbody>
</table>

<div id="editModal" class="modal-overlay hidden">
    <div class="custom-modal">
        <form id="editForm" method="post" asp-action="Update" asp-controller="Birthday">
            <h2>Update Birthday</h2>

            <input type="hidden" name="Id" id="editId" />
            <input name="Name" id="editName" placeholder="Name" required />
            <input type="date" name="BirthdayDate" id="editDate" required />
            <input type="file" name="ImageFile" id="editImageFile" accept="image/*" />

            <div class="modal-buttons">
                <button type="submit">Save</button>
                <button type="button" onclick="closeEditModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>
